---
import BaseLayout from "../layouts/BaseLayout.astro";
import { CONFIG } from "../data/config";
import { Terminal } from "lucide-astro";
---

<BaseLayout title="Dashboard">
    <div class="space-y-8">
        <section
            class="bg-slate-900/50 border border-slate-800/60 rounded-lg p-8 relative overflow-hidden backdrop-blur-sm"
        >
            <h1 class="text-3xl font-bold text-white mb-2">
                <span class="text-green-500">const</span> developer = "{
                    CONFIG.developer.name
                }";
            </h1>
            <p class="text-slate-300 max-w-2xl leading-relaxed mb-6">
                {CONFIG.developer.bio}
            </p>

            <div class="flex gap-4">
                {
                    Object.entries(CONFIG.socials).map(([platform, url]) => (
                        <a
                            href={url}
                            target="_blank"
                            rel="noopener noreferrer"
                            class="text-xs uppercase tracking-widest text-slate-300 hover:text-green-300 border border-slate-800 hover:border-green-500/50 px-4 py-2 rounded transition-colors bg-slate-950"
                        >
                            {platform}
                        </a>
                    ))
                }
            </div>
        </section>

        <section>
            <h2
                class="text-sm text-slate-300 mb-4 flex items-center gap-2 uppercase tracking-wider"
            >
                <Terminal size={16} /> system_capabilities.json
            </h2>
            <div class="grid grid-cols-1 md:grid-cols-3 gap-4">
                {
                    CONFIG.skills.map((skillGroup) => (
                        <div class="bg-slate-950 border border-slate-800/60 p-4 rounded-lg">
                            <h3 class="text-green-500 text-xs font-bold mb-3 uppercase">
                                {skillGroup.category}
                            </h3>
                            <ul class="flex flex-wrap gap-2">
                                {skillGroup.items.map((item) => (
                                    <li class="bg-slate-900 border border-slate-800 px-2 py-1 text-xs rounded text-slate-300">
                                        {item}
                                    </li>
                                ))}
                            </ul>
                        </div>
                    ))
                }
            </div>
        </section>
    </div>
</BaseLayout>
